.form {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.form-main {
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    border-radius: 6px;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.h {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 25px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}